/* Brand Color's */
:root {
    --black: #000000;
    --white: #ffffff;
    --brand-primary: #E6CF39;
    --gree: #4B5257;
    --dark-gree: #191919;
    --haaf-dark: #33393E;
    --haff-black: #181B1E;
    --sky: #208FAC;
}